.sourceTitle {
  composes: cell from '~@/Components/Table/Cells/TableRowCell.module.scss';

  word-break: break-word;
}

.details,
.actions {
  composes: cell from '~@/Components/Table/Cells/TableRowCell.module.scss';

  width: 65px;
}
