@import "~sass/_colors.scss";

.tag {
  display: flex;

  &.isLastTag {
    .or {
      display: none;
    }
  }
}

.label {
  composes: label from '~@/Components/Label.module.scss';

  border-style: none;
  font-size: 13px;
}

.or {
  margin: 0 3px;
  color: $themeDarkColor;
  line-height: 31px;
}
