.header img.logo {
    width: 150px;
    height: 150px;
}

.navbar-icon {
    display: block;
    width: 50px;
    height: 50px;
    margin: 1px auto;
    color: #A0A0A0;
}

.paperback-navbar li a {
    min-height: 76px;
    min-width: 84px;
    text-align: center;
    margin: 10px;
}

body {
    background-color: #343A40;
}

.page {
    box-shadow: 0 0 10px 1px #aaa;
}

.main-content .row {
}

.main-content .col {
}

img.cover-image {
    max-height: 250px;
    max-width: 162px;
}

.search-button {
    width: 20px;
    height: 20px;
}

.comic-year {
    color: $gray;
}

span.comic-badge {
    font-size: 1em;
}

span.comic-publisher {
    font-size: 1em;
}

td.issue-number-cell {
    width: 40px;
}

td.issue-release-date-cell {
    width: 150px;
}

td.issue-status-cell {
    width: 100px;
}

td.issue-search-cell {
    width: 75px;
}

a.hideLink {
    color: inherit;
    text-decoration: none;
}

.issue-progress {
    position: relative;
    margin-bottom: 2px;
    overflow: hidden;
    height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.issue-progress, .issue-progress .progressbar-back-text, .issue-progress .progressbar-front-text {
    width: 125px;
}

.issue-progress .progressbar-back-text {
    position: absolute;
    height: 100%;
}

.issue-progress .progress-bar {
    position: absolute;
    overflow: hidden;
}

.issue-progress .progressbar-front-text {
    display: block;
    height: 100%;
}

.issue-progress .progressbar-back-text, .issue-progress .progressbar-front-text {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    cursor: default;
    line-height: 20px;
}

.issue-progress .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    transition: width .6s ease;
}

.indexer-item {
    width: 290px;
    height: 90px;
    display: inline-block;
    cursor: pointer;
}
