/* stylelint-disable */
* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}
/* stylelint-enable */

html,
body {
  color: #515253;
  font-family: 'Roboto', 'open sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

body {
  font-size: 14px;
  line-height: 1.528571429; /* 20/14 */
}

/* Override normalize */

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  line-height: 1.528571429; /* 20/14 */
}

/* Better defaults for unordererd lists */

ul {
  margin: 0;
  padding-left: 20px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  input,
  optgroup,
  select,
  textarea {
    font-size: 16px;
  }
}
//////////////////////////
.header img.logo {
    width: 150px;
    height: 150px;
}

.navbar-icon {
    display: block;
    width: 50px;
    height: 50px;
    margin: 1px auto;
    color: #A0A0A0;
}

.paperback-navbar li a {
    min-height: 76px;
    min-width: 84px;
    text-align: center;
    margin: 10px;
}

body {
    background-color: #343A40;
}

.page {
    box-shadow: 0 0 10px 1px #aaa;
}

.main-content .row {
}

.main-content .col {
}

img.cover-image {
    max-height: 250px;
    max-width: 162px;
}

.search-button {
    width: 20px;
    height: 20px;
}

.comic-year {
    color: $gray;
}

span.comic-badge {
    font-size: 1em;
}

span.comic-publisher {
    font-size: 1em;
}

td.issue-monitor-cell {
    width: 40px;
}

td.issue-number-cell {
    width: 40px;
}

td.issue-release-date-cell {
    width: 150px;
}

td.issue-status-cell {
    width: 100px;
}

td.issue-search-cell {
    width: 75px;
}

table.wanted-table td {
    padding: 7px;
}

table.wanted-table th {
    cursor: pointer;
}

table.wanted-table th:hover {
    background: #ECECEC;
}

td.wanted-comic-cell,
td.wanted-issue-name-cell {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 400px;
    overflow: hidden;
}

td.wanted-date-cell {
    width: 150px;
}

td.wanted-issue-num-cell {
    width: 40px;
}

.pagination-control {
    padding: 3px;
}

a.hideLink {
    color: inherit;
    text-decoration: none;
}

.issue-progress {
    position: relative;
    margin-bottom: 2px;
    overflow: hidden;
    height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.issue-progress, .issue-progress .progressbar-back-text, .issue-progress .progressbar-front-text {
    width: 125px;
}

.issue-progress .progressbar-back-text {
    position: absolute;
    height: 100%;
    left: 0;
}

.issue-progress .progress-bar {
    position: absolute;
    overflow: hidden;
}

.issue-progress .progressbar-front-text {
    display: block;
    height: 100%;
}

.issue-progress .progressbar-back-text, .issue-progress .progressbar-front-text {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    cursor: default;
    line-height: 20px;
}

.issue-progress .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    transition: width .6s ease;
}

.settings-connector-item {
    width: 290px;
    height: 90px;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
}

.cursor-pointer {
    cursor: pointer;
}

.Toastify__progress-bar--default {
    background: #3490dc;
}

.Toastify__toast--default {
    background: #121212;
}
.Toastify__close-button--default {
    color: #FFF;
}

.modal-title {
    text-transform: capitalize;
}

table.file-browser-table td {
    padding: 3px;
}

td.file-type-cell {
    width: 15px;
}

table.file-browser-table tbody tr:hover {
    background: #ECECEC;
}

.comic-poster-item {
    display: inline-block;
    vertical-align: top;
}

.issue-progress-poster, .issue-progress-poster .progressbar-back-text, .issue-progress-poster .progressbar-front-text {
    width: 162px !important;
}

.comic-poster-item-image {
    width: 162px;
    height: 250px;
}
