.selectAllHeaderCell {
  composes: headerCell from '~@/Components/Table/VirtualTableHeaderCell.module.scss';

  width: 30px;
}

.input {
  composes: input from '~@/Components/Form/CheckInput.module.scss';

  margin: 0;
}
