.captchaInputWrapper {
  display: flex;
}

.input {
  composes: input from '~@/Components/Form/Input.module.scss';
}

.hasError {
  composes: hasError from '~@/Components/Form/Input.module.scss';
}

.hasWarning {
  composes: hasWarning from '~@/Components/Form/Input.module.scss';
}

.hasButton {
  composes: hasButton from '~@/Components/Form/Input.module.scss';
}

.recaptchaWrapper {
  margin-top: 10px;
}
