.hasFileBrowser {
  composes: input from '~./AutoSuggestInput.module.scss';
  composes: hasButton from '~@/Components/Form/Input.module.scss';
}

.inputWrapper {
  display: flex;
}

.pathMatch {
  font-weight: bold;
}

.fileBrowserButton {
  composes: button from '~./FormInputButton.module.scss';

  height: 35px;
}
