@import "_dimensions";

.menuButton {
  composes: menuButton from '~./MenuButton.module.scss';

  padding-top: 4px;
  width: $toolbarButtonWidth;
  height: $toolbarHeight;
  text-align: center;
}

.labelContainer {
  composes: labelContainer from '~@/Components/Page/Toolbar/PageToolbarButton.module.scss';
}

.label {
  composes: label from '~@/Components/Page/Toolbar/PageToolbarButton.module.scss';
}
